$break: (
  pc: 1024px,
  sp: (
    min: 320px,
    max: 640px
  )
);
@mixin media ($breakName, $AryPoints: $break) {
  @if map-has-key($AryPoints, $breakName) {
    @if length(map-get($AryPoints, $breakName)) != 1 {
      $breakPoint: map-get(map-get($AryPoints, $breakName), min), map-get(map-get($AryPoints, $breakName), max);
      @media screen and (min-width: nth($breakPoint, 1)) and (max-width: nth($breakPoint, 2)) {
        @content;
      }
    } @else {
      $breakPoint: map-get($AryPoints, $breakName);
      @media screen and (min-width: $breakPoint) {
        @content;
      }
    }
  }
}
a {
  color: #fff;
}
@include media(pc) {
  a {
    color: #ccc;
  }
};

@include media(sp) {
  a {
   color: #ddd;
  }
};
